---
layout: default
title: Home
---
<section class="hero-section">
  <div class="wrapper"><h1 class="hero-title">HELLO, I'M <span class="neon-accent">JING-ZHONG WANG.</span></h1></div>
  <div class="wrapper">
  <p class="hero-tagline">
      <span class="accent-glow">Modeling Trends. Visualizing Impacts. Traveler. Spot-up shooter.</span>
  </p>
  </div>
</section>


<div class="content-container"> <h2 style="font-size: 2rem; color: var(--accent); margin-bottom: 30px;">Latest Articles</h2>
  <div class="posts">
    {% for post in site.posts %}
      <div class="post-item-minimal">
        <a href="{{ post.url | relative_url }}"><h3 class="post-list-title">{{ post.title }}</h3></a>
        <p class="post-list-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        <div class="post-list-meta" style="display: flex; align-items: center; gap: 10px;">
          {% for tag in post.tags %}<span class="post-category" data-tag="{{ tag }}">{{ tag }}</span>{% endfor %}
          <span style="flex-grow: 1;"></span>
          <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>