---
layout: article
titles:
  # @start locale config
  en      : &EN       About
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hant : &ZH_HANT  關於
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
 
  # @end locale config
key: page-about
---

<div class="profile_pic" align="center">
  <img src="/assets/profile_pic.jpg" alt="" width="100px" height="100px" style="border-radius: 100%;"/>
<div class="profile_text" align="center"></div>
    <h3>王敬中</h3><h4>Jing-Zhong Wang</h4>
    <p>1999年10月11日生，新北市人，天秤座。<br>
      身高173公分，最喜歡的球類是籃球。<br>
      MBTI是INFJ。常常想太多，是個矛盾又懶惰的人<br>
      最近要畢業了，即將成為無業遊民。<br>
    </p>
</div>
