---
layout: article
titles:
  # @start locale config
  en      : &EN       About
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hant : &ZH_HANT  關於
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
 
  # @end locale config
key: page-about
---

<div class="profile_pic" align="center">
  <img src="/assets/profile_pic.jpg" alt="" width="100px" height="100px" style="border-radius: 100%;"/>
<div class="profile_text" align="center"></div>
    <h3>王敬中</h3>
    <h4>Jing-Zhong Wang</h4>
    <p>1999年10月11日生，新北市人，天秤座。<br>
      身高173公分，最喜歡的球類是籃球。<br>
      沒有擅長的事，不擅長的事很多。<br>
      最常做的事情是睡覺、最近的煩惱是論文寫不出來（唉）。
    </p>
</div>
