---
layout: cv
---
<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/cv_style.css">
    <h1>Jing-Zhong Wang</h1>
    <p>Biostatistics, Epidemiology, Master student.</p>

    <div id="webaddress">
        <a href="mailto:jzwang1011@gmail.com">jzwang1011@gmail.com</a>
    </div>


    <h3>Specialized in</h3>

    <p>Biostatistics and Epidemiology.</p>


    <h3>Research interests</h3>

    <p>Burden of Disease: Life expectancy decomposition.</p>


    <h2>Education</h2>

    <ul>
    <li>2022-Present<br>
    <strong>MS in Biostatistics</strong><br>
    Institute of Epidemiology and Prevent Medicine, National Taiwan University</li>

    <li>2018 - 2022<br>
    <strong>BS in Public Health</strong><br>
    National Taiwan University<br>
    - Specialized in Biostatistics and Health Data<br>
    - Biological Statistics Program<br>
    - Infectious Diseases Program (Specialized in Epidemiology)<br>
    - Big Data in Health Program</li>

    <li>2015 - 2018<br>
    <strong>High School Diploma</strong><br>
    The Affiliated Senior High School of National Taiwan Normal University</li>
    </ul>
</head>